<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->
<head>
<meta charset="utf-8"/>
<!-- Set the viewport width to device width for mobile -->
<meta name="viewport" content="width=device-width"/>
<title>Studio Francesca - Premium Theme by WowThemes.net</title>
<!-- Included CSS Files-->
<link rel="stylesheet" href="stylesheets/style.css">
<link rel="stylesheet" href="stylesheets/prettyphoto.css"><!-- for gallery -->
<link rel="stylesheet" href="stylesheets/skins/teal.css"><!-- skin color -->
<link rel="stylesheet" href="stylesheets/responsive.css">
<!-- IE Fix for HTML5 Tags -->
<!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>
<body>

<div class="services_display_div" style="float: left; width: 75%">
	
	<% @services.each do |service| %>
	    	
	  	<div class="service_information" style="height: 500px;">
			<div class="six columns category trains">
				<div >
				 	<h5> <%=service.name%> </h5>
				 </div>
				<p>
					  <%=service.description%> 
				</p>
				<div class="portofoliothumb">
					<div class="portofoliothumboverlay">
					</div>
					<!-- image here -->
					<% if service.avatar.url.present? %>
					<img src="<%= service.avatar.url %>" alt="">
					<%else%>
					<img src="images/temp/folio1.jpg" alt="">
					<%end%>
				</div>
				<div class="confirm_information">
					<% if current_user.present?%>
					<%= semantic_form_for @order, :url => orders_path do |f| %>
						<%= f.input :user_id, :as => :hidden, :input_html =>{ :value => current_user.id}%>
						<%= f.input :service_date,:as => :date_picker%>
						<%= f.input :service_id, :as => :hidden, :input_html => {:value => service.id} %>
						<%= f.submit%>
					<% end%>	
					<% end%>
					
					
					  
				   	
				</div>
				
			</div>
		</div>
	    		
	<%end%>

</div>




  <div class="Services_div" style="text-align: center; width: 20%;float: left">
    <header>
      <h1>Services List</h1>
    </header>
    
    
    <div class="free_sevices_list services_list">
    	<h3>Free Services</h3>
    	 <%a = 20%>
    	
    	<% @services.each do |service| %>
	    	<%=service.name%><br>
	    	
	   	<%end%>
    </div>
    <div class="paid_services_list services_list">
    	<h3>Paid Services</h3>
    	
    	<% @services.each do |service| %>
	    	<%=service.name%><br>
	    	
	   	<%end%>	
    </div>
    
    <div class="extra_services_list services_list">
    	<h3>Extra Services</h3>

    	<% @services.each do |service| %>
	    	<%=service.name%><br>
	   	<%end%>	
    </div>
    
    
    <nav>
      <p><a href="/">Home</a></p>
      <p><a href="/contact">Contact</a></p>
    </nav>
    
  </div>



<!-- FOOOTER 
================================================== -->
<div id="footer">
	<footer class="row">
	<p class="back-top floatright">
		<a href="#top"><span></span></a>
	</p>
	<div class="four columns">
		<h1>ABOUT US</h1>
		 Our goal is to keep clients satisfied!
	</div>
	<div class="four columns">
		<h1>GET SOCIAL</h1>
		<div class="social facebook">
			<a href="#"></a>
		</div>
		<div class="social twitter">
			<a href="#"></a>
		</div>
		<div class="social deviantart">
			<a href="#"></a>
		</div>
		<div class="social flickr">
			<a href="#"></a>
		</div>
		<div class="social dribbble">
			<a href="#"></a>
		</div>
	</div>
	<div class="four columns">
		<h1 class="newsmargin">NEWSLETTER</h1>
		<div class="row collapse newsletter floatright">
			<div class="ten mobile-three columns">
				<input type="text" class="nomargin" placeholder="Enter your e-mail address...">
			</div>
			<div class="two mobile-one columns">
				<a href="#" class="postfix button expand">GO</a>
			</div>
		</div>
	</div>
	</footer>
</div>
<!-- JAVASCRIPTS 
================================================== -->
