<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->
<head>
<meta charset="utf-8"/>
<!-- Set the viewport width to device width for mobile -->
<meta name="viewport" content="width=device-width"/>
<title>Studio Francesca - Premium Theme by WowThemes.net</title>
<!-- Included CSS Files-->
<link rel="stylesheet" href="stylesheets/style.css">
<link rel="stylesheet" href="stylesheets/prettyphoto.css"><!-- for gallery -->
<link rel="stylesheet" href="stylesheets/skins/teal.css"><!-- skin color -->
<link rel="stylesheet" href="stylesheets/responsive.css">
<!-- IE Fix for HTML5 Tags -->
<!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>
<body>

<div class="services_display_div">
	
	<% @services.each do |service| %>
	    	
	  	<div class="service_information">
			<div class="six columns category trains">
				<h4> <%=service.name%> </h4>
				<p>
					 <h5> <%=service.description%> </h5>
				</p>
				<div class="portofoliothumb">
					<div class="portofoliothumboverlay">
						<div class="viewgallery">
							<!--image here -->
							<a data-gal="prettyPhoto[gallery]" href="images/temp/folio1.jpg"><img src="images/playgal.png" class="left galleryicon" alt=""> Gallery</a>
						</div>
						<div class="inner">
							<a class="projectdetail" href="portofoliodetail.html">+ Project Details</a>
						</div>
					</div>
					<!-- image here -->
					<img src="images/temp/folio1.jpg" alt="">
				</div>
				<div class="confirm_information">
					<%= "Add/confirm service "%>
				</div>
			</div>
		</div>
	    		
	<%end%>

</div>








<div id="portofolio" class="row">
	<!-- Project 1-->
	<div class="six columns category trains">
		<h5>HOME CARE & UTILITY </h5>
		<p>
			 We Know that you care about your well wishers a lot and to make sure they are healthy! we are here to help you 
		</p>
		<div class="portofoliothumb">
			<div class="portofoliothumboverlay">
				<div class="viewgallery">
					<!--image here -->
					<a data-gal="prettyPhoto[gallery]" href="images/temp/folio1.jpg"><img src="images/playgal.png" class="left galleryicon" alt=""> Gallery</a>
				</div>
				<div class="inner">
					<a class="projectdetail" href="portofoliodetail.html">+ Project Details</a>
				</div>
			</div>
			<!-- image here -->
			<img src="images/temp/folio1.jpg" alt="">
		</div>
	</div>
	<!-- Project 2-->
	<div class="six columns category castles nature">
		<h5>TIMELY VISIT</h5>
		<p>
                 We pay a visit on regular time intervels in order to make your loved ones happy.<br><br>

		</p>
		<div class="portofoliothumb">
			<div class="portofoliothumboverlay">
				<div class="viewgallery">
					<a data-gal="prettyPhoto[gallery]" href="images/temp/folio2.jpg"><img src="images/playgal.png" class="left galleryicon" alt=""> Gallery</a>
				</div>
				<div class="inner">
					<a class="projectdetail" href="portofoliodetail.html">+ Project Details</a>
				</div>
			</div>
			<img src="images/temp/folio2.jpg" alt=""/>
		</div>
	</div>
	<!-- Project 3-->
	<div class="six columns category nature">
		<h5>GROCERIES & MEDICINE'S</h5>
		<p>
			 We deliver gloceries and medicines when your loved once want to do it. <br><br> 
		</p>
		<div class="portofoliothumb">
			<div class="portofoliothumboverlay">
				<div class="viewgallery">
					<a data-gal="prettyPhoto[gallery]" href="images/temp/folio3.jpg"><img src="images/playgal.png" class="left galleryicon" alt=""> Gallery</a>
				</div>
				<div class="inner">
					<a class="projectdetail" href="portofoliodetail.html">+ Project Details</a>
				</div>
			</div>
			<img src="images/temp/folio3.jpg" alt=""/>
		</div>
	</div>
	<!-- Project 4-->
	<div class="six columns category nature castles">
		<h5>EVENT'S</h5>
		<p>
		 We plan and manage all your events based on your ideas and sugessions according to your budget
		</p>
		<div class="portofoliothumb">
			<div class="portofoliothumboverlay">
				<div class="viewgallery">
					<a data-gal="prettyPhoto[gallery]" href="images/temp/folio4.jpg"><img src="images/playgal.png" class="left galleryicon" alt=""> Gallery</a>
				</div>
				<div class="inner">
					<a class="projectdetail" href="portofoliodetail.html">+ Project Details</a>
				</div>
			</div>
			<img src="images/temp/folio4.jpg" alt=""/>
		</div>
	</div>
</div>
<div class="hr">
</div>
<!-- TWITTER
================================================== -->
<div class="tweetarea">
	<div class="tweettext">
		<div class="row">
			<div class="twelve columns">
				<div class="tweet">
				</div>
			</div>
		</div>
	</div>
</div>
<!-- FOOOTER 
================================================== -->
<div id="footer">
	<footer class="row">
	<p class="back-top floatright">
		<a href="#top"><span></span></a>
	</p>
	<div class="four columns">
		<h1>ABOUT US</h1>
		 Our goal is to keep clients satisfied!
	</div>
	<div class="four columns">
		<h1>GET SOCIAL</h1>
		<div class="social facebook">
			<a href="#"></a>
		</div>
		<div class="social twitter">
			<a href="#"></a>
		</div>
		<div class="social deviantart">
			<a href="#"></a>
		</div>
		<div class="social flickr">
			<a href="#"></a>
		</div>
		<div class="social dribbble">
			<a href="#"></a>
		</div>
	</div>
	<div class="four columns">
		<h1 class="newsmargin">NEWSLETTER</h1>
		<div class="row collapse newsletter floatright">
			<div class="ten mobile-three columns">
				<input type="text" class="nomargin" placeholder="Enter your e-mail address...">
			</div>
			<div class="two mobile-one columns">
				<a href="#" class="postfix button expand">GO</a>
			</div>
		</div>
	</div>
	</footer>
</div>
<div class="copyright">
	<div class="row">
		<div class="six columns">
			 &copy;<span class="small"> Copyright 2013 Your Agency Name</span>
		</div>
		<div class="six columns">
			<span class="small floatright"> Purchase "Studio Francesca" - WowThemes.net</span>
		</div>
	</div>
</div>
<!-- JAVASCRIPTS 
================================================== -->

  <div class="Services_div" style="text-align: center; width: 80%; margin-left: 10%;">
    <header>
      <h1>Services List</h1>
    </header>
    
    
    <div class="free_sevices_list services_list">
    	<h3>Free Services</h3>
    	 <%a = 20%>
    	
    	<% @services.each do |service| %>
	    	<%=service.name%><br>
	    	
	   	<%end%>
    </div>
    <div class="paid_services_list services_list">
    	<h3>Paid Services</h3>
    	
    	<% @services.each do |service| %>
	    	<%=service.name%><br>
	    	
	   	<%end%>	
    </div>
    
    <div class="extra_services_list services_list">
    	<h3>Extra Services</h3>

    	<% @services.each do |service| %>
	    	<%=service.name%><br>
	   	<%end%>	
    </div>
    
    
    <nav>
      <p><a href="/">Home</a></p>
      <p><a href="/contact">Contact</a></p>
    </nav>
    
  </div>
